# SYMFONY FRAMEWORK
APP_DEBUG=true
APP_ENV=test

# DATABASE CONNECTION
DATABASE_DRIVER=pdo_pgsql
DATABASE_HOST=postgres
DATABASE_PORT=5432
FIRSTAPP_DATABASE_NAME=firstapp
DATABASE_USER=companyname
DATABASE_PASSWORD=P455W0RD

# DEBUGGER
#XDEBUG_CONFIG="client_host=host.docker.internal"
XDEBUG_SESSION_START=1
PHP_IDE_CONFIG=serverName=_

NGINX_HTTP_PORT=8080
NGINX_CONFIG=local
